* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
  line-height: 1.5;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

header {
  padding: 20px;
  background-color: #ffffff;
  color: #ffffff;
  border-bottom:5px solid black;
}

header h1 {
  display: inline-block;
  margin: 0px;
  background-color: rgb(0, 0, 0);
  padding: 10px 300px 10px 15px;
}

header nav {
  float: right;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
  font-size: 25px;
  margin-right: 10px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #000000;
  text-decoration: none;
}
section {
  background-color: #ffffff;
  color: #000000;
}

 .hero-banner {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 250px;
  border-bottom: 5px solid rgb(255, 255, 255);
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  background-position: center;
  padding-right: 20px;
}

.hero-banner h2 {
  background-color: #e6e7e9;
  padding: 5px 15px 5px 200px;
}

.containerGrid {
  display: grid;
  grid-template-columns: 25% 75%;
}

.containerGrid section {
  padding: 20px;
}

.containerGrid h2 {
  float: right;
}

.workGrid {
  margin: 0px;
  min-height: 800px;
  gap: 0.5em;
  padding: 20px;
  background-color: #ffffff;
  
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 25% 25%;
  grid-template-areas: 
  "mA mA"
  "sA tA"
  "fA fiA";
}

.mainApp {
  grid-area: mA;
  background-image: url("../images/02-portfolio-1.jpg");
  background-size: cover;
  background-position: center;
  border: 10px solid  #e6e7e9;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#appCaption {
  padding: 10px;
  color: rgb(0, 0, 0);
  background-color:  #e6e7e9;
}

.secondApp {
  grid-area: sA;
  background-image: url("../images/02-portfolio-2.jpg");
  background-size: cover;
  background-position: center;
  border: 10px solid  #e6e7e9;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.thirdApp {
  grid-area: tA;
  background-image: url("../images/02-portfolio-3.jpg");
  background-size: cover;
  background-position: center;
  border: 10px solid  #e6e7e9;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.fourthApp {
  grid-area: fA;
  background-image: url("../images/02-portfolio-4.jpg");
  background-size: cover;
  background-position: center;
  border: 10px solid  #e6e7e9;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.fifthApp {
  grid-area: fiA;
  background-image: url("../images/02-run-buddy.jpg");
  background-size: cover;
  background-position: center;
  border: 10px solid  #e6e7e9;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

h4,
h5,
h6 {
  margin: 0;
}

p {
  font-size: 15px;
  margin: 0;
}
