* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
  line-height: 1.5;
}

header {
  padding: 20px;
  background-color: #000000;
  color: #ffffff;
}

header h1 {
  display: inline-block;
  font-size: 30px;
  margin: 0px;
}

header nav {
  float: right;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
  font-size: 15px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
