* {
  box-sizing: border-box;
}

:root {
--dark: #212325;
--light: #e6e7e9;
--black: black;
--borderRadius: 5px;
}

body {
  margin: auto;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
  line-height: 1.5;
  color: var(--light);
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 18px;
}

section {
  background-color: var(--dark);
}

/* header / nav */

header {
  padding: 0px 20px 20px 0px;
  color: var(--light);
  background-color: var(--light);
  border-bottom:5px solid var(--black);
}

header h1 {
  display: inline-block;
  width: 50%;
  margin: auto;
  background-color: var(--black);
  padding: 10px 0px 10px 15px;
  border-bottom-right-radius: var(--borderRadius);
  box-shadow: 10px 10px lightblue;
}

header nav {
  float: right;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
  font-size: 20px;
  margin-right: 10px;
  line-height: 1.5;
}

header nav a {
  color: var(--black);
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  margin-left: 25px;
  display: inline-block;
  border-bottom: 3px solid var(--black);
}

header nav ul li a:hover {
  border-bottom: 5px solid var(--black);
}

a {
  color: var(--light);
  text-decoration: none;
}

a:hover {
  border-bottom: 5px solid var(--black);
}

/* hero banner */

 .hero-banner {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 250px;
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  background-position: center;
  padding-right: 20px;
}

.hero-banner h2 {
  background-color: var(--light);
  color: var(--black);
  padding: 5px 10px;
  border-radius:var(--borderRadius);
}

/* main container area  */

.containerGrid {
  display: grid;
  padding: 20px;
  grid-template-columns: 25% 75%;
  grid-template-rows: 2fr;
  background-color: var(--dark);
}

.containerGrid section {
  padding: 20px;
}

.containerGrid h2 {
  float: right;
}

.page-section {
  border-right: 3px solid var(--light);
  margin: 20px;
}

/* about me  */

.aboutFlex {
  display: flex;
  gap: 2em;
}

#profileImage {
  background-image: url("../images/profile-picture.jpg");
  background-size: cover;
  background-position: center;
  border: 3px solid var(--light);
  border-radius:var(--borderRadius);
  width: 100%;
  height: 100%;
}

/* work portfolio  */

.workGrid {
  min-height: 900px;
  gap: 0.5em;
  margin-bottom: 20px;
  
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 25% 25%;
  grid-template-areas: 
  "mA mA"
  "sA tA"
  "fA fiA";
}

.mainApp {
  grid-area: mA;
  background-image: url("../images/02-portfolio-1.jpg");
  background-size: cover;
  background-position: center;
  border: 3px solid var(--light);
  border-radius:var(--borderRadius);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.secondApp {
  grid-area: sA;
  background-image: url("../images/02-portfolio-2.jpg");
  background-size: cover;
  background-position: center;
  border: 3px solid var(--light);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.thirdApp {
  grid-area: tA;
  background-image: url("../images/02-portfolio-3.jpg");
  background-size: cover;
  background-position: center;
  border: 3px solid var(--light);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.fourthApp {
  grid-area: fA;
  background-image: url("../images/02-portfolio-4.jpg");
  background-size: cover;
  background-position: center;
  border: 3px solid var(--light);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.fifthApp {
  grid-area: fiA;
  background-image: url("../images/02-run-buddy.jpg");
  background-size: cover;
  background-position: center;
  border: 3px solid var(--light);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.mainApp:hover, .secondApp:hover, .thirdApp:hover, .fourthApp:hover, .fifthApp:hover {
  opacity: 0.5;
  border: 3px solid var(--light);
}

#appCaption {
  padding: 10px;
  background-color: var(--light);
  color: var(--black);
  border-top-right-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
}

/* contact details  */

.contactFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.contactFlex h4 {
  border-bottom: 3px solid var(--light);
  font-weight: lighter;
}

.contactFlex a:hover {
  border-bottom: 5px solid var(--light);
}
